@(beerStyle: BeerStyle)

@import helper._

@main("Beer Style Guide") {

<h1>Style: @beerStyle.style()</h1>

<ul>
    <li><p>Serving Pressure @beerStyle.servingPressure</p></li>
    <li><p>Serving Temperature @beerStyle.servtemperatureString</p></li>
    <li><p>Bitterness @beerStyle.ibuString</p></li>
    <li><p>Color @beerStyle.colorString</p></li>
    <li><p>Original Gravity @beerStyle.ogString</p></li>
    <li><p>Final Gravity @beerStyle.fgString</p></li>
    <li><p>Fermentation Temperature@beerStyle.fermtempString</p></li>
</ul>
}